<nav class="nav-bar-left uk-navbar" data-uk-offcanvas="{target:'#left-sidebar', mode:'slide'}">
    <ul class="uk-list ">
        <li>
            <div class="nav-bar-left-item user-profile uk-float-left uk-padding-remove uk-navbar-content">
            </div>
        </li>
        <li>
            <div class="nav-bar-left-item vertical-align-middle uk-text-center uk-text-contrast uk-block-primary">
                <i class="uk-icon-check uk-icon-small"></i>
            </div>
        </li>
        <li class="item-bottom">
            <div class="nav-bar-left-item vertical-align-middle uk-text-center uk-block-default">
                <i class="uk-icon-cog uk-icon-small"></i>
            </div>
        </li>
    </ul>
</nav>