<div>
    <nav-bar-top></nav-bar-top>

    <nav-bar-left></nav-bar-left>

    <div class="page-content">
        <div class="uk-margin-large-left uk-margin-large-right">

            <current-user-welcome></current-user-welcome>

         
            <task-category-view></task-category-view>


            <right-sidebar></right-sidebar>

            <left-sidebar></left-sidebar>
           
            <task-category-create></task-category-create>
            <task-category-edit></task-category-edit>
            <task-category-delete></task-category-delete>

        </div>
    </div>


</div>

