
<button type="submit" class="uk-button uk-button-primary"
        ng-click="showingManager.showCreateTaskForm()">
    + Add task
</button>

<div>
    <label>Search:</label>
    <input type="text" ng-model="search.title">
</div>

<ul id="task-view-mode-tabs" class="uk-tab" data-uk-tab>
    <li><a href="">List view</a></li>
    <li><a href="">Time view</a></li>
    <li><a href="">Priority view</a></li>
</ul>
<ul id="task-view-mode-tab-contents" class="uk-switcher uk-margin">
    <li>
        <h4>List view</h4>
        <table>
            <tr>
                <td>Make up to (format: {{preferences.preference.dateFormat}})</td>
                <td>Priority</td>
                <td>Title</td>
            </tr>
            <tr ng-repeat="task in tasks.items
                | filter: {'title' : search.title}">
                <td>{{task.makeUpTo | dateToPrefString:preferences.preference.dateFormat }}</td>
                <td>{{task.priority}}</td>
                <td>{{task.title}}</td>
                <td>
                    <button type="button" class="uk-button uk-button-primary"
                            ng-click="taskEditClick(task)">
                        Edit
                    </button>
                </td>
            </tr>
        </table>
    </li>
    <li>
        <h4>Time view</h4>

        <h5>Today</h5>
        <table>
            <tr>
                <td>Make up to (format: {{preferences.preference.dateFormat}})</td>
                <td>Priority</td>
                <td>Title</td>
                <td></td>
            </tr>
            <tr ng-repeat="task in tasks.items
                | isToday
                | filter: {'title' : search.title}
                | orderBy:'-makeUpTo'">
                <td>{{task.makeUpTo | dateToPrefString:preferences.preference.dateFormat }}</td>
                <td>{{task.priority}}</td>
                <td>{{task.title}}</td>
                <td>
                    <button type="button" class="uk-button uk-button-primary"
                            ng-click="taskEditClick(task)">
                        Edit
                    </button>
                </td>
            </tr>
        </table>

        <h5>Tomorrow</h5>
        <table>
            <tr>
                <td>Make up to (format: {{preferences.preference.dateFormat}})</td>
                <td>Priority</td>
                <td>Title</td>
            </tr>
            <tr ng-repeat="task in tasks.items
                | isTomorrow
                | filter: {'title' : search.title}
                | orderBy:'-makeUpTo'">
                <td>{{task.makeUpTo | dateToPrefString:preferences.preference.dateFormat }}</td>
                <td>{{task.priority}}</td>
                <td>{{task.title}}</td>
                <td>
                    <button type="button" class="uk-button uk-button-primary"
                            ng-click="taskEditClick(task)">
                        Edit
                    </button>
                </td>
            </tr>
        </table>

        <h5>Upcomming</h5>
        <table>
            <tr>
                <td>Make up to (format: {{preferences.preference.dateFormat}})</td>
                <td>Priority</td>
                <td>Title</td>
            </tr>
            <tr ng-repeat="task in tasks.items
                | isUpcomming
                | filter: {'title' : search.title}
                | orderBy:'-makeUpTo'">
                <td>{{task.makeUpTo | dateToPrefString:preferences.preference.dateFormat }}</td>
                <td>{{task.priority}}</td>
                <td>{{task.title}}</td>
                <td>
                    <button type="button" class="uk-button uk-button-primary"
                            ng-click="taskEditClick(task)">
                        Edit
                    </button>
                </td>
            </tr>
        </table>

        <h5>Someday</h5>
        <table>
            <tr>
                <td>Make up to (format: {{preferences.preference.dateFormat}})</td>
                <td>Priority</td>
                <td>Title</td>
            </tr>
            <tr ng-repeat="task in tasks.items
                | isSomeday
                | filter: {'title' : search.title}
                | orderBy:'-makeUpTo'">
                <td>{{task.makeUpTo | dateToPrefString:preferences.preference.dateFormat }}</td>
                <td>{{task.priority}}</td>
                <td>{{task.title}}</td>
                <td>
                    <button type="button" class="uk-button uk-button-primary"
                            ng-click="taskEditClick(task)">
                        Edit
                    </button>
                </td>
            </tr>
        </table>

    </li>
    <li>
        <h4>Priority view</h4>

        <h5>High</h5>
        <table>
            <tr>
                <td>Make up to (format: {{preferences.preference.dateFormat}})</td>
                <td>Priority</td>
                <td>Title</td>
            </tr>
            <tr ng-repeat="task in tasks.items
                | filter: {'priority':true}
                | filter: {'title' : search.title}">
                <td>{{task.makeUpTo | dateToPrefString:preferences.preference.dateFormat }}</td>
                <td>{{task.priority}}</td>
                <td>{{task.title}}</td>
                <td>
                    <button type="button" class="uk-button uk-button-primary"
                            ng-click="taskEditClick(task)">
                        Edit
                    </button>
                </td>
            </tr>
        </table>

        <h5>Normal</h5>
        <table>
            <tr>
                <td>Make up to (format: {{preferences.preference.dateFormat}})</td>
                <td>Priority</td>
                <td>Title</td>
            </tr>
            <tr ng-repeat="task in tasks.items
                | filter: {'priority':false}
                | filter: {'title' : search.title}">
                <td>{{task.makeUpTo | dateToPrefString:preferences.preference.dateFormat }}</td>
                <td>{{task.priority}}</td>
                <td>{{task.title}}</td>
                <td>
                    <button type="button" class="uk-button uk-button-primary"
                            ng-click="taskEditClick(task)">
                        Edit
                    </button>
                </td>
            </tr>
        </table>
    </li>
</ul>
