<div class="uk-panel uk-panel-box">
    <h2>Delete Attachment</h2>
    <div>
        <p>Are you sure you want to delete attachment by name '{{attachmentForDelete.fileNameFull}}' ?</p>
    </div>
    <div class="uk-text-right">
        <button type="button" class="uk-button" ng-click="showingManager.showEditTaskForm()"> << Go to Task Edit</button>
        <button type="button" class="uk-button uk-button-primary" ng-click="deleteAttachment(attachmentForDelete.id)">
            Delete
        </button>
    </div>
</div>
